<h3 class="row justify-content-center mb-3 font-weight-bold">INSCRIPTION</h3>

<form class="mr-5 ml-5 ">
  <div class="form-group row">
    <label for="inputFirstname" class="col-sm-2 col-form-label">Prénom:</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="inputFirstname"
        placeholder="Prénom"
        [(ngModel)]="user.name"
        name="name"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLastname" class="col-sm-2 col-form-label">Nom:</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="inputLastname"
        placeholder="Nom"
        [(ngModel)]="user.lastname"
        name="lastname"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputFirstname" class="col-sm-2 col-form-label">Pseudo:</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="inputUsername"
        placeholder="Pseudo"
        [(ngModel)]="user.username"
        name="username"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlInput1 " class="col-sm-2 col-form-label"
      >Email:</label
    >
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        [(ngModel)]="user.email"
        name="email"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"
      >Mot de passe:</label
    >
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Mot de passe"
        [(ngModel)]="user.password"
        name="password"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAge" class="col-sm-2 col-form-label">Age:</label>
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="inputAge"
        placeholder="Age"
        [(ngModel)]="user.age"
        name="age"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTaille" class="col-sm-2 col-form-label">Taille:</label>
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="inputTaille"
        placeholder="Taille (en mètres)"
        [(ngModel)]="user.heigth"
        name="heigth"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPoids" class="col-sm-2 col-form-label">Poids:</label>
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="inputPoids"
        placeholder="Poids (en kg)"
        [(ngModel)]="user.weight"
        name="weight"
      />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="formSelect"
      >Coefficient sportif*</label
    >
    <div class="col-sm-10">
      <select
        class="form-control"
        id="formSelect"
        [(ngModel)]="user.coefSportif"
        name="coefSportif"
      >
        <option selected value="1.2">Aucun sport ou presque</option>
        <option value="1.375">1 à 3 fois par semaine</option>
        <option value="1.55">3 à 5 fois par semaine</option>
        <option value="1.725">Tout les jours</option>
        <option value="1.9">Plusieurs fois par jours</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="formSelect">Genre*</label>
    <div class="col-sm-10">
      <select class="form-control" id="formSelect" [(ngModel)]="user.gender" name="gender">
        <option value="masculin">Masculin</option>
        <option value="feminin">Féminin</option>
      </select>
    </div>
  </div>
  <div class="row justify-content-center mb-3"><button class=" btn btn-link" type="button" (click)="newUser()">
    Sign In!
  </button></div>
</form>
<div class="row justify-content-center">Déja inscrit? <a routerLink="/connexion"> Clique ici</a></div>
