<h3 class="row justify-content-center mb-3 font-weight-bold">
  {{ food.foodName }} pour 100g
</h3>
<div class="container w-75 ">
  <div class="d-flex justify-content-between border-danger border-bottom mb-4 ">
    <div class="">Kcal</div>
    <div class="">{{ food.kcal }} /g</div>
  </div>

  <div class="d-flex justify-content-between border-danger border-bottom mb-4 ">
    <div class="">Proteines</div>
    <div class="">{{ food.proteins }} /g</div>
  </div>

  <div class="d-flex justify-content-between border-danger border-bottom mb-4 ">
    <div class="">Lipides</div>
    <div class="">{{ food.fats }} /g</div>
  </div>

  <div class="d-flex justify-content-between border-danger border-bottom mb-4 ">
    <div class="">Glucides</div>
    <div class="">{{ food.carbs }} /g</div>
  </div>
</div>
