<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <img
    [src]="'assets/images/district.png'"
    alt=""
    class=" img-fluid mx-auto  row align-items-center mb-3 w-50"
  />

  <nav
    class="border-dark border-top border-bottom w-100  mx-auto align-self-center wrap-header navbar navbar-light navbar-expand-lg mb-3"
    id="mainNav"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class=" collapse navbar-collapse nav navbar-nav "
      id="navbarNavAltMarkup"
    >
      <div
        id="navHead"
        class=" navbar-nav w-75 container-fluid d-flex justify-content-center"
      >
        <a class="nav-item nav-link" routerLink="/home">ACCUEIL</a>

        <a class="nav-item nav-link" routerLink="/profil">MON PROFIL</a>

        <a class="nav-item nav-link" routerLink="/programs">LES PROGRAMMES</a>

        <a class="nav-item nav-link" routerLink="/inscription"
          >S'INSCRIRE / SE CONNECTER</a
        >
        <a class="nav-item nav-link" routerLink="/food"
          >LES ALIMENTS</a>
          
        <!-- <a  class="nav-item nav-link" routerLink="/home" (click)="logOut()"
          >DECONNEXION</a
        > -->
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
