*{
    font-family:'Arial, Helvetica, sans-serif',serif;
    font-weight: bolder;
}

nav div div a, form div label {
    font-size: 0.9em; 
    color: black;
}
nav div div a:hover {
    color: #D00000;
}

#navHead *::before, #navHead *::after {
	width: 100%;
}


