<h3 class="row justify-content-center mb-5 font-weight-bold">CONNEXION</h3>

<form class="mr-5 ml-5 ">
  <div class="form-group row">
    <label for="exampleFormControlInput1 " class="col-sm-2 col-form-label"
      >Email:</label
    >
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
        name="email"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"
      >Mot de passe:</label
    >
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Mot de passe"
        name="password"
      />
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <button
      class="row justify-content-center btn btn-link"
      type="button"
      (click)="connectUser()"
    >
      Log In!
    </button>
  </div>
</form>
<div class="row justify-content-center">
  Pas encore inscrit? <a routerLink="/inscription"> Clique ici</a>
</div>
