<img
  [src]="'assets/images/warning.svg'"
  alt=""
  class="img-fluid.max-width: 40% mx-auto row align-items-center mb-3 "
/>
<h5 class="container text-center mb-3 font-weight-bold">
  Attention! Les informations affichées ici sont à titre purement indicatif.
  Bien qu’elles soient issues de calculs précis et vérifiés, les valeurs peuvent
  varier d’un individu à l’autre. Si vous êtes dans une condition physique ou un
  état de santé particulier (diabète, cholesthérol, etc...) consultez votre
  médecin ou votre nutritioniste avant toute utilisation de ce service!
</h5>

<div class="row justify-content-center"><button class="row justify-content-center btn btn-link" type="button" routerLink="/inscription">
  Continuer
</button></div>